Flask==3.1.0
flask-cors==5.0.1
PyJWT==2.10.1
psycopg2-binary==2.9.10
boto3==1.37.4
PyYAML==6.0.2
Pillow==11.1.0
pypika==0.48.9
python-crontab==3.2.0
requests==2.32.3
beautifulsoup4==4.12.3  # for html_parser.py 
selenium==4.29.0
flasgger==0.9.7.1