apispec==6.0.2
apispec-webframeworks==0.5.2
argparse==1.4.0
beautifulsoup4==4.12.3
boto3==1.37.4
flasgger==0.9.7.1
Flask==3.1.0
Flask-Admin==1.6.1
flask-cors==5.0.1
Flask-Login==0.6.3
flask-restx==1.1.0
Flask-SQLAlchemy==3.1.1
marshmallow==3.19.0
nltk==3.2.5
Pillow==11.1.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pymorphy2==0.9.1
pypika==0.48.9
pyTelegramBotAPI==4.26.0
python-crontab==3.2.0
PyYAML==6.0.2
redis==6.0.0
requests==2.32.3
selenium==4.29.0
SQLAlchemy==2.0.40
urllib3==2.2.1
uuid==1.30
